set NERDTree
set commentary
Plug 'easymotion/vim-easymotion'
set easymotion
set scrolloff=6
set number relativenumber
set ideajoin
set idearefactormode=keep
set clipboard+=unnamed
Plug 'tpope/vim-surround'
set incsearch
let mapleader = " "

noremap <Esc> <nop>
nmap H <action>(PreviousTabexi)
nmap L <action>(NextTabexi)
nmap <leader>ww <action>(CloseEditor)
nmap <leader>pp <action>(Profiler)
nmap <leader>i <action>(Generate)
nmap <leader>m <action>(Git.Menu)
nmap <leader>P <action>(Run)
nmap <leader>O <action>(Stop)
nmap <leader>a <action>(ProblemsView.OpenInPreviewTab)
nmap <leader>ee <action>(GotoNextError)
nmap <leader>ef <action>(ShowErrorDescription)
nmap <leader>ff <action>(GotoFile)
nmap <leader>fg <action>(GotoSymbol)
nmap <leader>fo <action>(ReformatCode)
nmap <leader>k <action>(ShowIntentionActions)
nmap <leader>rn <action>(RefactoringMenu)
nmap <leader>gi <action>(GotoImplementation)
nmap <leader>gr <action>(FindUsages)
nmap<leader>dc <Action>(Debug)
nmap<leader>dq <action>(Resume)
nmap <leader>ds <Action>(Stop)
nmap <leader>dw <Action>(Debugger.AddToWatch)
nmap <leader>dt <Action>(ToggleLineBreakpoint)
nmap <leader>dm <Action>(DebuggerActions)
nmap <leader>dso <action>(StepOver)
nmap <leader>dsi <action>(StepInto)
nmap <leader>df <action>(QuickEvaluateExpression)
nmap K <action>(QuickJavaDoc)
nmap V <action>(EvaluateExpression)
nmap <leader>nt :NERDTreeToggle<CR>
nmap <leader>nn :NERDTreeFocus<CR>
nmap <leader>nf :NERDTreeFind<CR>
nmap <leader>vv <action>(EvaluateExpression)
nmap <leader><leader>w <Plug>(easymotion-bd-w)
nmap <leader>gg <Action>(Generate)
