set easymotion
set NERDTree
set commentary
set scrolloff=6
set number relativenumber
set ideajoin
set idearefactormode=keep
Plug 'tpope/vim-surround'
set incsearch
let mapleader = " "

noremap <Esc> <nop>
nmap <leader>h <action>(PreviousTab)
nmap <leader>l <action>(NextTab)
nmap <leader>i <action>(Generate)
nmap <leader>m <action>(Git.Menu)
nmap <leader>ee <action>(GotoNextError)
nmap <leader>ef <action>(ShowErrorDescription)
nmap <leader>ff <action>(GotoFile)
nmap <leader>fg <action>(GotoSymbol)
nmap <leader>fo <action>(ReformatCode)
nmap <leader>k <action>(ShowIntentionActions)
nmap <leader>rn <action>(RefactoringMenu)
nmap <leader>gi <action>(GotoImplementation)
nmap <leader>gr <action>(FindUsages)
nmap<leader>dd <Action>(Debug)
nmap <leader>ds <Action>(Stop)
nmap <leader>dw <Action>(Debugger.AddToWatch)
nmap <leader>dt <Action>(ToggleLineBreakpoint)
nmap <leader>dso <action>(StepOver)
nmap <leader>dsi <action>(StepInto)
nmap <leader>df <action>(QuickEvaluateExpression)
nmap <leader>t :NERDTreeToggle<CR>
nmap <leader>n :NERDTreeFocus<CR>
nmap <leader><leader>w <Plug>(easymotion-bd-w)
